.navbar {
    width: 12%;
    height: 100vh;
    position: fixed;
    mix-blend-mode: difference;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .navbar {
        height: 10%;
        width: 100%;
    }
}


