.container {
    height: 80%;
    width: 80%;

    box-shadow: 0 0 15px grey;

}

.cardContainer {
    height: 100%;
}
.img {
    position: relative;
    z-index: 1000;
    height: 75%;
    object-position: 50% 50%;
}
.cardInfo {
    height: 25%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 2px
}
.a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
    }
    .img {
        height: 60%;
    }
    .cardInfo {
        height: 40%;
    }
}