.container {
    height: 80%;
    width: 80%;

    box-shadow: 0 0 15px grey;

}

.cardContainer {
    height: 100%;
}
.img {
    z-index: 1;
    height: 75%;
    object-fit: cover;
    object-position: 50% 50%;
}
.cardInfo {
    height: 25%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
}