/*
    Las variables son para ./Title
*/

.sectionHome {
    overflow-x: hidden;
    align-items: flex-start;
    color: white;
    background-color: black;
    padding-left: 15%;

    --title-letter-duration: 200ms;
    --w-duration: 1.5s;
}

@media (max-width: 600px) {
    .sectionHome {
        padding-left: 5%;
    }

}