/*
    Las variables se encuentran declaradas en ../Home
*/

@keyframes letter-title-animation {
    0% {
        color: transparent;
        left: -20%;
    }
    100% {
        color: inherit;
        left: 0%;
    }
}

.titleName span {
    color: transparent;
    position: relative;   
}
.titleName span:nth-child(1) {
    animation: letter-title-animation var(--title-letter-duration) linear 0s forwards;
}
.titleName span:nth-child(2) {
    animation: letter-title-animation var(--title-letter-duration) linear calc(var(--title-letter-duration) * 1) forwards;
}
.titleName span:nth-child(3) {
    animation: letter-title-animation var(--title-letter-duration) linear calc(var(--title-letter-duration) * 2) forwards;
}
.titleName span:nth-child(4) {
    animation: letter-title-animation var(--title-letter-duration) linear calc(var(--title-letter-duration) * 3) forwards;
}
.titleName span:nth-child(5) {
    animation: letter-title-animation var(--title-letter-duration) linear calc(var(--title-letter-duration) * 4) forwards;
}
.titleName span:nth-child(6) {
    animation: letter-title-animation var(--title-letter-duration) linear calc(var(--title-letter-duration) * 5) forwards;
}

@keyframes w-animation {
    0% {
        color: transparent;
        bottom: 6rem;
        transform: rotateX(0);
    }
    100% {
        color: inherit;
        bottom: 0
    }
}

.wLetter {
    transform: rotatex(180deg) translateY(2px);
    color: transparent;

    animation: w-animation var(--w-duration) ease calc(200ms * 6) forwards;
}

.subtitle{
    /*
        Delay de cada letra es duración de W más al duración del título (duración de cada letra por 6)
    */
    --subtitle-delay: calc(var(--w-duration) + calc(var(--title-letter-duration) * 6));
    --subtitle-letter-duration: 1s;
    --subtitle-letter-delay: 50ms;
}


.subtitle span {
    display: inline-block;
    color: transparent;
    position: relative;
}

@keyframes writing {
    0% {
        color: transparent;
        transform: translateY(-40%);
    }
    100% {
        color: inherit;
        transform: translateY(0%);
    }
}
.subtitle span:nth-child(2){
    animation: writing var(--subtitle-letter-duration) ease calc(var(--subtitle-delay) + var(--subtitle-letter-delay) * 0 ) forwards;
}
.subtitle span:nth-child(3){
    animation: writing var(--subtitle-letter-duration) ease calc(var(--subtitle-delay) + var(--subtitle-letter-delay) * 1 ) forwards;
}
.subtitle span:nth-child(4){
    animation: writing var(--subtitle-letter-duration) ease calc(var(--subtitle-delay) + var(--subtitle-letter-delay) * 2 ) forwards;
}
.responsiveBreakLine {
    display: none;
}
@media (max-width: 600px) {
    .responsiveBreakLine {
        display: block;
    }
}
.subtitle span:nth-child(5){
    animation: writing var(--subtitle-letter-duration) ease calc(var(--subtitle-delay) + var(--subtitle-letter-delay) * 3 ) forwards;
}
.subtitle span:nth-child(6){
    animation: writing var(--subtitle-letter-duration) ease calc(var(--subtitle-delay) + var(--subtitle-letter-delay) * 4 ) forwards;
}
.subtitle span:nth-child(7){
    animation: writing var(--subtitle-letter-duration) ease calc(var(--subtitle-delay) + var(--subtitle-letter-delay) * 5 ) forwards;
}
.subtitle span:nth-child(8){
    animation: writing var(--subtitle-letter-duration) ease calc(var(--subtitle-delay) + var(--subtitle-letter-delay) * 6 ) forwards;
}
.subtitle span:nth-child(9){
    animation: writing var(--subtitle-letter-duration) ease calc(var(--subtitle-delay) + var(--subtitle-letter-delay) * 7 ) forwards;
}
.subtitle span:nth-child(10){
    animation: writing var(--subtitle-letter-duration) ease calc(var(--subtitle-delay) + var(--subtitle-letter-delay) * 8 ) forwards;
}
.subtitle span:nth-child(11){
    animation: writing var(--subtitle-letter-duration) ease calc(var(--subtitle-delay) + var(--subtitle-letter-delay) * 9 ) forwards;
}
.subtitle span:nth-child(12){
    animation: writing var(--subtitle-letter-duration) ease calc(var(--subtitle-delay) + var(--subtitle-letter-delay) * 10) forwards;
}

.subtitle span:nth-child(13){
    animation: writing var(--subtitle-letter-duration) ease calc(var(--subtitle-delay) + var(--subtitle-letter-delay) * 10) forwards;
}

