@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');


:root {
  --nav-bar-width: min(12%,75px)
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
main {
  padding-left: var(--nav-bar-width);
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

section:nth-child(odd) {
  background-color: black;
}

h1 {
  font-family: 'Jost', sans-serif;
  font-size: 6rem;
  margin: 0;
}
.carousel-wrapper,
.carousel,
.carousel > .slider-wrapper,
.carousel > .slider-wrapper > .slider {
  height: 100%;
}
